<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/quaters.css">
  <link rel="stylesheet" href="/css/output.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <title>Wornux</title>
  <meta name="description"
    content="Wornux is an efficient and easy-to-use URL shortening service that streamlines your online experience.">
</head>

<body>
  <div class="hidden lg:block">
    <span class="absolute box-base shadow-box box-animation-1 top-[5%] right-[20%]"></span>
    <span class="absolute box-base shadow-box box-animation-2 bottom-[15%] right-[19%] "></span>
    <span class="absolute box-base shadow-box box-animation-1 bottom-[9%] left-[14%]"></span>
  </div>
  <div class="hidden lg:block">
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84"
      fill="none">
      <path
        d="M41.9713 82.8507C64.5489 82.8507 82.8517 64.5479 82.8517 41.9703C82.8517 19.3926 64.5489 1.08984 41.9713 1.08984C19.3936 1.08984 1.09082 19.3926 1.09082 41.9703C1.09082 64.5479 19.3936 82.8507 41.9713 82.8507Z"
        stroke="url(#paint0_linear_128_191)" stroke-linecap="round" />
      <defs>
        <linearGradient id="paint0_linear_128_191" x1="4089.13" y1="1.08984" x2="4089.13" y2="8177.18"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns=" http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"
      fill="none">
      <path opacity="0.95"
        d="M56.0667 158.159C99.2489 171.361 144.957 147.058 158.16 103.875C171.362 60.6932 147.058 14.9846 103.876 1.78249C60.6936 -11.4196 14.9851 12.884 1.78294 56.0662C-11.4192 99.2485 12.8845 144.957 56.0667 158.159Z"
        stroke="url(#paint0_linear_128_190)" stroke-linecap="round" stroke-dasharray="8 207" />
      <defs>
        <linearGradient id="paint0_linear_128_190" x1="7844.52" y1="2368.33" x2="3063.61" y2="18006"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="213" height="213" viewBox="0 0 213 213"
      fill="none">
      <path opacity="0.91"
        d="M38.3909 208.644C94.544 246.52 170.77 231.703 208.645 175.55C246.521 119.397 231.704 43.1717 175.551 5.29596C119.398 -32.5798 43.1726 -17.7631 5.29681 38.3901C-32.579 94.5432 -17.7622 170.769 38.3909 208.644Z"
        stroke="url(#paint0_linear_128_189)" stroke-linecap="round" stroke-dasharray="25 311" />
      <defs>
        <linearGradient id="paint0_linear_128_189" x1="10241.3" y1="6794.73" x2="-3474.73" y2="27129.6"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="272" height="272" viewBox="0 0 272 272"
      fill="none">
      <path opacity="0.86"
        d="M8.89059 238.879C65.7249 309.063 168.694 319.886 238.878 263.051C309.063 206.217 319.885 103.248 263.051 33.0637C206.217 -37.1208 103.248 -47.9433 33.0633 8.89096C-37.1212 65.7253 -47.9437 168.694 8.89059 238.879Z"
        stroke="url(#paint0_linear_128_188)" stroke-linecap="round" stroke-dasharray="50 415" />
      <defs>
        <linearGradient id="paint0_linear_128_188" x1="10450.9" y1="12614" x2="-14965.2" y2="33195.5"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="398" height="398" viewBox="0 0 398 398"
      fill="none">
      <path opacity="0.82"
        d="M8.14436 272.222C48.5999 377.612 166.831 430.252 272.221 389.797C377.612 349.341 430.252 231.11 389.796 125.719C349.341 20.3292 231.109 -32.3108 125.719 8.14475C20.3288 48.6003 -32.3112 166.832 8.14436 272.222Z"
        stroke="url(#paint0_linear_128_187)" stroke-linecap="round" stroke-dasharray="84 518" />
      <defs>
        <linearGradient id="paint0_linear_128_187" x1="7641.66" y1="19017.5" x2="-30523.5" y2="33667.7"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="492" height="492" viewBox="0 0 492 492"
      fill="none">
      <path opacity="0.77"
        d="M1.28476 263.081C10.7344 398.217 127.944 500.106 263.08 490.656C398.216 481.206 500.105 363.997 490.655 228.861C481.205 93.725 363.996 -8.16379 228.86 1.28583C93.724 10.7354 -8.16485 127.945 1.28476 263.081Z"
        stroke="url(#paint0_linear_128_186)" stroke-linecap="round" stroke-dasharray="126 622" />
      <defs>
        <linearGradient id="paint0_linear_128_186" x1="2184.55" y1="24452.7" x2="-46752.5" y2="27874.7"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="572" height="572" viewBox="0 0 572 572"
      fill="none">
      <path opacity="0.73"
        d="M7.14176 221.598C-28.4103 375.591 67.605 529.247 221.598 564.799C375.591 600.351 529.247 504.336 564.799 350.343C600.351 196.351 504.336 42.694 350.343 7.14197C196.35 -28.4101 42.6938 67.6052 7.14176 221.598Z"
        stroke="url(#paint0_linear_128_185)" stroke-linecap="round" stroke-dasharray="176 726" />
      <defs>
        <linearGradient id="paint0_linear_128_185" x1="-5808.1" y1="27954.4" x2="-61573.8" y2="15079.8"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="616" height="616" viewBox="0 0 616 616"
      fill="none">
      <path opacity="0.68"
        d="M24.743 144.449C-65.5675 300.872 -11.9733 500.888 144.449 591.199C300.872 681.509 500.888 627.915 591.199 471.493C681.51 315.07 627.915 115.053 471.493 24.7429C315.07 -65.5677 115.054 -11.9734 24.743 144.449Z"
        stroke="url(#paint0_linear_128_184)" stroke-linecap="round" stroke-dasharray="235 829" />
      <defs>
        <linearGradient id="paint0_linear_128_184" x1="-15597.5" y1="28511.1" x2="-72243" y2="-4193.29"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="626" height="626" viewBox="0 0 626 626"
      fill="none">
      <path opacity="0.64"
        d="M62.0468 43.8884C-86.5634 182.47 -94.6935 415.284 43.8878 563.894C182.469 712.505 415.284 720.635 563.894 582.053C712.504 443.472 720.634 210.658 582.053 62.0474C443.472 -86.5628 210.657 -94.6929 62.0468 43.8884Z"
        stroke="url(#paint0_linear_128_183)" stroke-linecap="round" stroke-dasharray="302 933" />
      <defs>
        <linearGradient id="paint0_linear_128_183" x1="-26075.3" y1="25423.5" x2="-76260" y2="-28393"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <header class="flex items-center justify-center w-auto mt-10 mx-14">
    <nav class="flex items-center justify-center w-full sm:justify-between gap-x-24">
      <a href="/">
        <h2
          class="text-4xl font-extrabold text-center text-transparent lg:text-5xl bg-clip-text bg-gradient-to-r from-btn-blue via-btn-pink to-btn-blue">
          Wornux</h2>
      </a>
      <ul class="flex items-start gap-x-4">
        <li class="flex items-center justify-center w-28">
          <a class="text-white text-center border border-solid hover:scale-110 active:bg-btn-gray-border transition border-btn-gray-border bg-btn-gray rounded-full w-44 py-3 shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
            href="/auth/login">
            Login
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="inline w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
            </svg>
          </a>
        </li>
        <li class="flex items-center justify-center w-40 lg:flex">
          <a class="text-center text-white border border-solid hover:scale-110 transition border-btn-blue bg-btn-blue rounded-full w-44 py-3 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.20)]"
            href="/auth/signup">
            Register Now
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hidden lg:block">
      <div class="fixed top-0 rotate-180 min-h-[6%] left-0 z-20 w-full p-4 register-footer">
      </div>
      <div class="fixed top-0 left-0 z-30 w-full p-4">
        <p class="text-center text-white font-extralight">
          <a class="text-blue-500 underline" href="/auth/signup">Register Now</a>
          to enjoy Unlimited History
        </p>
      </div>
    </section>

    <section class="flex-col gap-y-4 mt-12">
      <h3 class="text-3xl font-extrabold text-center sm:text-3xl animation-h1">Wornux</h3>
      <p class="w-auto mx-2 text-center text-orange-500">Short Links, Big Impact.</p>
    </section>


    <section class="mt-10">
      <!-- desktop form -->
      <form method="post" action="/url"
        class="flex justify-between items-center bg-btn-gray border-2 border-solid border-btn-gray-border w-auto min-w-[600px] hidden lg:flex py-1 px-1 rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="inline ml-4 mr-1 size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
          <label>
            <input required name="url" class="text-white bg-btn-gray caret-btn-pink focus:outline-none w-96" type="text"
              placeholder="Enter the link here" />
          </label>
        </div>
        <button
          class="border border-solid text-white hover:scale-95 transition border-btn-blue bg-btn-blue w-36 py-3 rounded-full shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.20)]"
          type="submit">Shorten
          Now!
        </button>
      </form>

      <!-- mobile form -->
      <form method="post" action="/url"
        class="flex flex-col items-center justify-center w-screen gap-y-4 mx-14 lg:hidden">
        <div
          class="flex items-center bg-btn-gray border-2 border-solid h-12 border-btn-gray-border w-full py-1 px-1 rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="inline ml-4 mr-1 size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
          <label>
            <input required name="url" class="text-white bg-btn-gray caret-btn-pink focus:outline-none w-96" type="text"
              placeholder="Enter the link here" />
          </label>
        </div>
        <button
          class="border border-solid text-white hover:scale-95 transition border-btn-blue bg-btn-blue w-full py-3 rounded-full shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.20)]"
          type="submit">Shorten
          Now!</button>
      </form>
    </section>

    <!-- desktop table -->
    <section class="hidden mx-10 mt-12 mb-12 lg:flex">
      <table class="w-full text-white table-auto">
        <thead class="bg-btn-gray">
          <tr>
            <th class="py-3 font-normal text-center rounded-tl-lg">Short Link </th>
            <th class="py-3 font-normal text-center ">Original Link</th>
            <th class="py-3 font-normal text-center ">QR Code</th>
            <th class="py-3 font-normal text-center ">Clicks</th>
            <th class="py-3 font-normal text-center ">Status</th>
            <th class="py-3 font-normal text-center rounded-tr-lg">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="url : ${urls}" class="bg-table-gray backdrop-blur-sm border-y-8 border-y-transparent">
            <td class="flex items-center justify-center py-2 text-center gap-x-3 border-btn-gray-border">
              <a th:href="${url.url}" target="_blank" class="hover:underline">
                <p th:text="${url.url}"></p>
              </a>
              <div class="flex items-center justify-center rounded-full size-9 bg-btn-gray">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="rounded-full icon icon-tabler icons-tabler-outline icon-tabler-copy bg-btn-gray">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                  <path
                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
                </svg>
              </div>
            </td>
            <td class="py-2 text-center border-btn-gray-border hover:underline max-w-80 overflow-hidden"
              th:text="${url.originalUrl}"></td>
            <td class="px-4 py-2 text-center border-btn-gray-border ">
              <svg xmlns="http://www.w3.org/2000/svg" class="m-auto size-8" viewBox="0 0 300 300"
                shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                <a th:href="'/qr/'+ ${url.id}" class="btn">
                  <path
                    d="M0 125V0h125v125H0Zm100.873-24.127V24.127H24.127v76.746h76.746ZM175 125V0h125v125H175Zm100.873-24.127V24.127h-76.746v76.746h76.746Z"
                    fill="#666" />
                  <rect width="100" height="100" rx="0" ry="0" transform="matrix(.28833 0 0 .29003 223.083 47.998)"
                    fill="#666" />
                  <path d="M0 300V175h125v125H0Zm100.873-24.127v-76.746H24.127v76.746h76.746Z" fill="#666" />
                  <rect width="100" height="100" rx="0" ry="0" transform="matrix(.28833 0 0 .29003 48.083 222.998)"
                    fill="#666" />
                  <rect width="100" height="100" rx="0" ry="0" transform="matrix(.76745 0 0 .76745 200 335.085)"
                    fill="#fff" />
                  <rect width="100" height="100" rx="0" ry="0" transform="matrix(.28833 0 0 .29003 48.083 47.998)"
                    fill="#666" />
                  <rect width="25" height="30" rx="0" ry="0" transform="translate(0 150)" fill="#666" />
                  <rect width="25" height="30" rx="0" ry="0" transform="translate(75 150)" fill="#666" />
                  <rect width="25" height="30" rx="0" ry="0" transform="translate(25 120)" fill="#666" />
                  <rect width="25" height="30" rx="0" ry="0" transform="translate(275 120)" fill="#666" />
                  <rect width="25" height="30" rx="0" ry="0" transform="translate(225 120)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(200 150)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(150 150)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="matrix(1 0 0 1.41206 150 168.82)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(175 250)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="matrix(1.59923 0 0 1 150 250)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(175 275)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(250 252.002)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(275 197.998)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(200 226)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(200 226)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="matrix(1 0 0 1.2001 175 196.998)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="matrix(1.5 0 0 1.2001 150 196.998)"
                    fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(275 275)" fill="#666" />
                  <rect width="25" height="25" rx="0" ry="0" transform="translate(225 275)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="matrix(1.337 0 0 1 114.945 175)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="matrix(4.59826 0 0 1 162.052 175)"
                    fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(120 100)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(120 25)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(150)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(150 75)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(120 226)" fill="#666" />
                  <rect width="30" height="25" rx="0" ry="0" transform="translate(120 275)" fill="#666" />
                </a>
              </svg>
            </td>
            <td class="py-2 text-center border-btn-gray-border" th:text="${url.clicks}"></td>
            <td class="flex items-center justify-center px-4 py-2 gap-x-3 border-btn-gray-border"
              th:unless="${url.status}">
              <p class="text-center text-yellow-600 min-w-14">Inactive</p>
              <div class="flex items-center justify-center rounded-full size-9 bg-yellow-600/30">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-link-off">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 15l3 -3m2 -2l1 -1" />
                  <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                  <path d="M3 3l18 18" />
                  <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                </svg>
              </div>
            </td>
            <td class="flex items-center justify-center py-2 text-center gap-x-3 border-btn-gray-border"
              th:if="${url.status}">
              <p class="text-center text-green-600 min-w-14">Active</p>
              <div class="flex items-center justify-center rounded-full size-9 bg-green-600/30">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-link">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 15l6 -6" />
                  <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                  <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                </svg>
              </div>
            </td>
            <td class="px-4 py-2 text-center border-btn-gray-border" th:text="${url.date}"></td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mobile table -->
    <section class="w-screen mt-12 mb-12 lg:hidden">
      <table class="w-full text-white table-auto mx-14 ">
        <thead class="bg-btn-gray">
          <tr>
            <th class="text-center py-3 font-normal rounded-t-lg">Shorten Links</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="url : ${urls}" class="bg-table-gray backdrop-blur-sm border-y-8 border-y-transparent">
            <td class="flex items-center justify-center px-4 py-2 gap-x-3 border-btn-gray-border">
              <a th:href="${url.url}" target="_blank" class="hover:underline">
                <p th:text="${url.url}"></p>
              </a>
              <div class="flex items-center justify-center rounded-full size-9 bg-btn-gray">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="rounded-full icon icon-tabler icons-tabler-outline icon-tabler-copy bg-btn-gray">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                  <path
                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
                </svg>
              </div>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer th:replace="components/footer.html :: footer"></footer>

</body>

</html>
