html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0b101b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  flex: 1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  font-weight: 200;
}

.animation-h1 {
  --bg-size: 400%;
  --color-one: hsl(223, 84%, 48%);
  --color-two: hsl(337, 79%, 63%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one),
      var(--color-two),
      var(--color-one)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 30s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .animation-h1 {
    animation: move-bg 30s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.register-footer {
  background: linear-gradient(180deg,
      rgba(11, 16, 27, 0) 15.74%,
      rgba(11, 16, 27, 0.57) 50.38%);
  filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
}

.box-base {
  width: 14rem
    /* 224px */
  ;
  height: 14rem
    /* 224px */
  ;
  border-radius: 1.5rem
    /* 24px */
  ;
  z-index: -1;
  background-color: hsla(292, 65%, 11%, 0.357);
}

.shadow-box {
  box-shadow: 0px -10px 22px 0px #040406,
    0px 10.767px 26.917px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(43.0668830871582px);
}

.box-animation-1 {
  animation: rotateAndMove1 25s linear infinite;
}

.box-animation-2 {
  animation: rotateAndMove2 25s linear infinite;
}

@keyframes rotateAndMove1 {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  10% {
    transform: rotate(9deg) translateX(0.9px) translateY(0.9px);
  }

  20% {
    transform: rotate(18deg) translateX(1.8px) translateY(1.8px);
  }

  30% {
    transform: rotate(27deg) translateX(2.7px) translateY(2.7px);
  }

  40% {
    transform: rotate(36deg) translateX(3.6px) translateY(3.6px);
  }

  50% {
    transform: rotate(45deg) translateX(4.5px) translateY(4.5px);
  }

  60% {
    transform: rotate(36deg) translateX(5.4px) translateY(5.4px);
  }

  70% {
    transform: rotate(27deg) translateX(6.3px) translateY(6.3px);
  }

  80% {
    transform: rotate(18deg) translateX(7.2px) translateY(7.2px);
  }

  90% {
    transform: rotate(9deg) translateX(8.1px) translateY(8.1px);
  }

  100% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

/* rotateandmove 2 will start a little bit rotate, from 45 */
@keyframes rotateAndMove2 {
  0% {
    transform: rotate(45deg) translateX(0px) translateY(0px);
  }

  10% {
    transform: rotate(54deg) translateX(0.9px) translateY(0.9px);
  }

  20% {
    transform: rotate(63deg) translateX(1.8px) translateY(1.8px);
  }

  30% {
    transform: rotate(72deg) translateX(2.7px) translateY(2.7px);
  }

  40% {
    transform: rotate(81deg) translateX(3.6px) translateY(3.6px);
  }

  50% {
    transform: rotate(90deg) translateX(4.5px) translateY(4.5px);
  }

  60% {
    transform: rotate(81deg) translateX(5.4px) translateY(5.4px);
  }

  70% {
    transform: rotate(72deg) translateX(6.3px) translateY(6.3px);
  }

  80% {
    transform: rotate(63deg) translateX(7.2px) translateY(7.2px);
  }

  90% {
    transform: rotate(54deg) translateX(8.1px) translateY(8.1px);
  }

  100% {
    transform: rotate(45deg) translateX(0px) translateY(0px);
  }
}

.svg-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translateX(-50%) translateY(-50%);
  animation: rotate 160s linear infinite;
  opacity: 20%;
}

.centrar-qr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
