<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/quaters.css">
  <link rel="stylesheet" href="/css/output.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <title>Wornux - Sign Up</title>
  <meta name="description"
    content="Wornux is an efficient and easy-to-use URL shortening service that streamlines your online experience.">
</head>

<body>
  <div class="hidden lg:block">
    <span class="absolute box-base shadow-box box-animation-1 top-[5%] right-[20%]"></span>
    <span class="absolute box-base shadow-box box-animation-2 bottom-[15%] right-[19%] "></span>
    <span class="absolute box-base shadow-box box-animation-1 bottom-[9%] left-[14%]"></span>
  </div>
  <div class="hidden lg:block">
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84"
      fill="none">
      <path
        d="M41.9713 82.8507C64.5489 82.8507 82.8517 64.5479 82.8517 41.9703C82.8517 19.3926 64.5489 1.08984 41.9713 1.08984C19.3936 1.08984 1.09082 19.3926 1.09082 41.9703C1.09082 64.5479 19.3936 82.8507 41.9713 82.8507Z"
        stroke="url(#paint0_linear_128_191)" stroke-linecap="round" />
      <defs>
        <linearGradient id="paint0_linear_128_191" x1="4089.13" y1="1.08984" x2="4089.13" y2="8177.18"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns=" http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"
      fill="none">
      <path opacity="0.95"
        d="M56.0667 158.159C99.2489 171.361 144.957 147.058 158.16 103.875C171.362 60.6932 147.058 14.9846 103.876 1.78249C60.6936 -11.4196 14.9851 12.884 1.78294 56.0662C-11.4192 99.2485 12.8845 144.957 56.0667 158.159Z"
        stroke="url(#paint0_linear_128_190)" stroke-linecap="round" stroke-dasharray="8 207" />
      <defs>
        <linearGradient id="paint0_linear_128_190" x1="7844.52" y1="2368.33" x2="3063.61" y2="18006"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="213" height="213" viewBox="0 0 213 213"
      fill="none">
      <path opacity="0.91"
        d="M38.3909 208.644C94.544 246.52 170.77 231.703 208.645 175.55C246.521 119.397 231.704 43.1717 175.551 5.29596C119.398 -32.5798 43.1726 -17.7631 5.29681 38.3901C-32.579 94.5432 -17.7622 170.769 38.3909 208.644Z"
        stroke="url(#paint0_linear_128_189)" stroke-linecap="round" stroke-dasharray="25 311" />
      <defs>
        <linearGradient id="paint0_linear_128_189" x1="10241.3" y1="6794.73" x2="-3474.73" y2="27129.6"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="272" height="272" viewBox="0 0 272 272"
      fill="none">
      <path opacity="0.86"
        d="M8.89059 238.879C65.7249 309.063 168.694 319.886 238.878 263.051C309.063 206.217 319.885 103.248 263.051 33.0637C206.217 -37.1208 103.248 -47.9433 33.0633 8.89096C-37.1212 65.7253 -47.9437 168.694 8.89059 238.879Z"
        stroke="url(#paint0_linear_128_188)" stroke-linecap="round" stroke-dasharray="50 415" />
      <defs>
        <linearGradient id="paint0_linear_128_188" x1="10450.9" y1="12614" x2="-14965.2" y2="33195.5"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="398" height="398" viewBox="0 0 398 398"
      fill="none">
      <path opacity="0.82"
        d="M8.14436 272.222C48.5999 377.612 166.831 430.252 272.221 389.797C377.612 349.341 430.252 231.11 389.796 125.719C349.341 20.3292 231.109 -32.3108 125.719 8.14475C20.3288 48.6003 -32.3112 166.832 8.14436 272.222Z"
        stroke="url(#paint0_linear_128_187)" stroke-linecap="round" stroke-dasharray="84 518" />
      <defs>
        <linearGradient id="paint0_linear_128_187" x1="7641.66" y1="19017.5" x2="-30523.5" y2="33667.7"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="492" height="492" viewBox="0 0 492 492"
      fill="none">
      <path opacity="0.77"
        d="M1.28476 263.081C10.7344 398.217 127.944 500.106 263.08 490.656C398.216 481.206 500.105 363.997 490.655 228.861C481.205 93.725 363.996 -8.16379 228.86 1.28583C93.724 10.7354 -8.16485 127.945 1.28476 263.081Z"
        stroke="url(#paint0_linear_128_186)" stroke-linecap="round" stroke-dasharray="126 622" />
      <defs>
        <linearGradient id="paint0_linear_128_186" x1="2184.55" y1="24452.7" x2="-46752.5" y2="27874.7"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="572" height="572" viewBox="0 0 572 572"
      fill="none">
      <path opacity="0.73"
        d="M7.14176 221.598C-28.4103 375.591 67.605 529.247 221.598 564.799C375.591 600.351 529.247 504.336 564.799 350.343C600.351 196.351 504.336 42.694 350.343 7.14197C196.35 -28.4101 42.6938 67.6052 7.14176 221.598Z"
        stroke="url(#paint0_linear_128_185)" stroke-linecap="round" stroke-dasharray="176 726" />
      <defs>
        <linearGradient id="paint0_linear_128_185" x1="-5808.1" y1="27954.4" x2="-61573.8" y2="15079.8"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="616" height="616" viewBox="0 0 616 616"
      fill="none">
      <path opacity="0.68"
        d="M24.743 144.449C-65.5675 300.872 -11.9733 500.888 144.449 591.199C300.872 681.509 500.888 627.915 591.199 471.493C681.51 315.07 627.915 115.053 471.493 24.7429C315.07 -65.5677 115.054 -11.9734 24.743 144.449Z"
        stroke="url(#paint0_linear_128_184)" stroke-linecap="round" stroke-dasharray="235 829" />
      <defs>
        <linearGradient id="paint0_linear_128_184" x1="-15597.5" y1="28511.1" x2="-72243" y2="-4193.29"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="svg-animation" xmlns="http://www.w3.org/2000/svg" width="626" height="626" viewBox="0 0 626 626"
      fill="none">
      <path opacity="0.64"
        d="M62.0468 43.8884C-86.5634 182.47 -94.6935 415.284 43.8878 563.894C182.469 712.505 415.284 720.635 563.894 582.053C712.504 443.472 720.634 210.658 582.053 62.0474C443.472 -86.5628 210.657 -94.6929 62.0468 43.8884Z"
        stroke="url(#paint0_linear_128_183)" stroke-linecap="round" stroke-dasharray="302 933" />
      <defs>
        <linearGradient id="paint0_linear_128_183" x1="-26075.3" y1="25423.5" x2="-76260" y2="-28393"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#1F89DB" />
          <stop offset="0.28125" stop-color="#F42A8B" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <header class="flex items-center justify-center w-auto mt-10 mx-14">
    <nav class="flex items-center justify-center w-full sm:justify-between gap-x-24">
      <a href="/">
        <h2
          class="text-4xl font-extrabold text-center text-transparent lg:text-5xl bg-clip-text bg-gradient-to-r from-btn-blue via-btn-pink to-btn-blue">
          Wornux</h2>
      </a>
      <ul class="flex items-start gap-x-4">
        <li class="flex items-center justify-center w-28">
          <a class="text-white text-center border border-solid hover:scale-110 active:bg-btn-gray-border transition border-btn-gray-border bg-btn-gray rounded-full w-44 py-3 shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
            href="/auth/login">
            Login
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="inline w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
            </svg>
          </a>
        </li>
        <li class="flex items-center justify-center w-40 lg:flex">
          <a class="text-center text-white border border-solid hover:scale-110 transition border-btn-blue bg-btn-blue rounded-full w-44 py-3 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.20)]"
            href="/auth/signup">
            Register Now
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <div class="flex flex-col items-center p-8 pt-16 mt-6 rounded-lg shadow-2xl gap-y-8 bg-background-gray h-fit">
        <div>
          <h2 class="text-5xl font-extrabold text-center text-white">Sign Up</h2>
          <p class="mt-3 text-white">Create an account to start shortening your links.</p>
        </div>
        <form method="POST" class="flex flex-col items-center justify-center gap-y-5" action="/auth/signup">
          <label for="name">
            <input
              class="bg-btn-gray border-2 border-solid border-btn-gray-border w-96 py-3 px-6 focus:outline-none caret-btn-pink text-white rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
              id="name" type="text" name="name" placeholder="Enter your name here" required>
          </label>

          <label for="email">
            <input
              class="bg-btn-gray border-2 border-solid border-btn-gray-border w-96 py-3 px-6 focus:outline-none caret-btn-pink text-white rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
              id="email" type="email" name="email" placeholder="Enter your email here" required>
          </label>
          <label for="password">
            <input
              class="bg-btn-gray border-2 border-solid border-btn-gray-border w-96 py-3 px-6 focus:outline-none caret-btn-pink text-white rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
              id="password" type="password" name="password" placeholder="Enter your password here" required>
          </label>
          <label>
            <input
              class="bg-btn-gray border-2 border-solid border-btn-gray-border w-96 py-3 px-6 focus:outline-none caret-btn-pink text-white rounded-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
              type="password" name="confirm_password" placeholder="Confirm your password here" required>
          </label>
          <button
            class="text-center text-white border border-solid hover:scale-110 transition border-btn-blue bg-btn-blue rounded-full w-44 py-3 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.10)]"
            type="submit">
            Sing Up
          </button>
        </form>
      </div>

    </section>
  </main>

  <footer th:replace="components/footer.html :: footer"></footer>
</body>

</html>
