<div th:fragment="map">
  <script th:inline="javascript">
    let points = [[${locations}]]
      .map(point => {
        return {
          lat: point.latitude,
          lng: point.longitude
        }
      })
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: points[0] || {lat: 19.4511, lng: -70.6979},  // Centrar en el primer punto (Monumento de Santiago)
      });

      points.forEach((point, index) => {
        const marker = new google.maps.Marker({
          position: point,
          map: map,
          title: `Punto ${index + 1}`,
        });

        const infoWindow = new google.maps.InfoWindow({
          content: `<h3>Punto ${index + 1}</h3><p>Latitud: ${point.lat}<br>Longitud: ${point.lng}</p>`,
        });

        marker.addListener("click", () => {
          infoWindow.open(map, marker);
        });
      });
    }

    window.onload = initMap;
  </script>
  <div id="map" class="h-screen w-full"></div>
</div>
